.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header,
  &__footer {
    padding: 1rem;
  }

  &__header {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__main {
    flex-grow: 1;
  }

  &--light {
    &__header,
    &__footer {
      background-color: #f1f1f1;
      color: #000;
    }
  }

  &--dark {
    &__header,
    &__footer {
      background-color: #2c2c2e;
      color: #fff;
    }
  }
}
